
<div class=" content">
    <div class=" row">
      <div class=" col-md-12">
        <div class=" card">
          <div class=" card-header">
            <h5 style="color: black; text-align: center; padding-bottom: 15px;">Página Inicial</h5>
          </div>
        </div>
  
            
        <div class="col-lg-4 ml-auto"><p class="lead">Em meados de 2010, nosso grande fundador Paulo estava em viagem para o litoral até que seu carro quebrou na estrada, o mesmo buscou atendimento de oficinas da região ao pesquisar pela internet e acionou mais de um deles.</p></div>
        <div class="col-lg-4 mr-auto"><p class="lead">Após aguardar algumas horas debaixo de um coqueiro e não ter retorno do serviço solicitado, um coco caiu em sua cabeça, foi ai que o mesmo teve uma epifania, e a partir desse dia, decidiu criar sua própria oficina e melhorar a qualidade do serviço prestado localmente.</p></div>
        <div class="col-lg-4 mr-auto"><p class="lead">São 10 anos já no mercado, com oficinas em toda região do litoral brasileiro.</p></div>

      </div>
    </div>
  </div>
  