
<div class=" content">
    <div class=" row">
      <div class=" col-md-12">
        <div class=" card">
          <div class=" card-header">
            <h5 style="color: black; text-align: center; padding-bottom: 15px;">Página Inicial</h5>
          </div>
        </div>

        <style>
          fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}
        </style>
  
        <fieldset class="scheduler-border">
          <legend class="scheduler-border" style="color: white;">Oficina Paulo Coco</legend>
          <div class="control-group">
              <label class="control-label input-label" for="startTime" style="color: white;">História :</label>
              <p class="text-center" style="color: white;">
                Em meados de 2010, nosso grande fundador Paulo estava em viagem para o litoral até que seu carro quebrou na estrada, 
                o mesmo buscou atendimento de oficinas da região ao pesquisar pela internet e acionou mais de um deles.
                Após aguardar algumas horas debaixo de um coqueiro e não ter retorno do serviço solicitado, um coco caiu em sua cabeça, foi ai que o mesmo teve uma epifania, 
                e a partir desse dia, decidiu criar sua própria oficina e melhorar a qualidade do serviço prestado localmente.
              </p><br><br><br>

              <p class="text-center" style="color: white;">
                São 10 anos já no mercado, com oficinas em toda região do litoral brasileiro.
              </p>
          </div>
      </fieldset>
      

      </div>
    </div>
  </div>
  