
<div class="content">
    <div class=" row">
      <div class=" col-md-12">
        <div class=" card">
          <div class=" card-header">
            <h5 style="color: black; text-align: center; padding-bottom: 15px;">Àrea de Cadastros </h5>
          </div>
        </div> <!--Aqui fecha a class card-->

 

        <div class="card-group">
            <div class="card">
                <img class="card-img-top" src="../../../assets/img/colaborador.png" alt="Listar Funcionário">
                <div class="card-body">
                  <a routerLink="/listarFuncionarios" class="btn btn-secondary">Listar Funcionário</a>
                </div>
              </div>

            <div class="card">
              <img class="card-img-top" src="../../../assets/img/clientes.png" alt="Listar Cliente">
              <div class="card-body">
                <a routerLink="/listarClientes" class="btn btn-secondary">Listar Cliente</a>
              </div>
            </div>

            <div class="card">
                <img class="card-img-top" src="../../../assets/img/pecas.png" alt="Listar Produto">
                <div class="card-body">
                  <a routerLink="/listarProdutos" class="btn btn-secondary">Listar Produto</a>
                </div>
              </div>  
              
              <div class="card">
                <img class="card-img-top" src="../../../assets/img/orcamento.png" alt="Listar Orçamento">
                <div class="card-body">
                  <a routerLink="/listarOrcamentos" class="btn btn-secondary">Listar Orçamento</a>
                </div>
              </div>     
                            
              
              
          </div>

      </div>
    </div>

    <div class="card-group">
      <div class="card">
          <img class="card-img-top" src="../../../assets/img/agendamento.png" alt="Listar Agendamentos">
          <div class="card-body">
            <a routerLink="/listarAgendamento" class="btn btn-secondary">Listar Agendamentos</a>
          </div>
        </div>

      <div class="card">
        <img class="card-img-top" src="../../../assets/img/estoque.png" alt="Listar Estoque">
        <div class="card-body">
          <a routerLink="/listarEstoque" class="btn btn-secondary">Listar Estoque</a>
        </div>
      </div>

      <div class="card">
          <img class="card-img-top" src="../../../assets/img/servicos.png" alt="Listar Serviços">
          <div class="card-body">
            <a routerLink="/listarServicos" class="btn btn-secondary">Listar Serviço</a>
          </div>
        </div>  
        
        <div class="card">
          <img class="card-img-top" src="../../../assets/img/fornecedor.png" alt="Listar Fornecedor">
          <div class="card-body">
            <a routerLink="/listarFornecedor" class="btn btn-secondary">Listar Fornecedor</a>
          </div>
        </div>     
                      
        
        
    </div>
  </div>

  
  

  <router-outlet></router-outlet>
  
