
<div class="content">
    <div class=" row">
      <div class=" col-md-12">
        <div class=" card">
          <div class=" card-header">
            <h5 style="color: black; text-align: center; padding-bottom: 15px;">Àrea de Cadastros </h5>
          </div>
        </div> <!--Aqui fecha a class card-->

        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="../../../assets/img/colaborador.png" alt="Cadastrar Funcionário">
                <div class="card-body">
                  <h5 class="card-title">Cadastrar Funcionário</h5>
                  <p class="card-text">Clique no botão abaixo para cadastrar um Funcionário.</p>
                  <a routerLink="/cadastroFuncionario" class="btn btn-secondary">Cadastrar Funcionário</a>
                </div>
              </div>

            <div class="card">
              <img class="card-img-top" src="../../../assets/img/clientes.png" alt="Cadastrar Funcionário">
              <div class="card-body">
                <h5 class="card-title">Cadastrar Funcionário</h5>
                <p class="card-text">Clique no botão abaixo para cadastrar um Funcionário.</p>
                <a routerLink="/cadastrarCliente" class="btn btn-secondary">Cadastrar Cliente</a>
              </div>
            </div>

            <div class="card">
                <img class="card-img-top" src="../../../assets/img/pecas.png" alt="Cadastrar Funcionário">
                <div class="card-body">
                  <h5 class="card-title">Cadastrar Funcionário</h5>
                  <p class="card-text">Clique no botão abaixo para cadastrar um Funcionário.</p>
                  <a routerLink="/cadastroProduto" class="btn btn-secondary">Cadastrar Produto</a>
                </div>
              </div>  
              
              <div class="card">
                <img class="card-img-top" src="../../../assets/img/orcamento.png" alt="Cadastrar Funcionário">
                <div class="card-body">
                  <h5 class="card-title">Cadastrar Funcionário</h5>
                  <p class="card-text">Clique no botão abaixo para cadastrar um Funcionário.</p>
                  <a routerLink="/cadastroProduto" class="btn btn-secondary">Cadastrar Orçamento</a>
                </div>
              </div>     
          </div>

      </div>
    </div>
  </div>

  <router-outlet></router-outlet>
  