
<div class="content">
    <div class=" row">
      <div class=" col-md-12">
        <div class=" card">
          <div class=" card-header">
            <h5 style="color: black; text-align: center; padding-bottom: 15px;">Àrea de Cadastros </h5>
          </div>
        </div> <!--Aqui fecha a class card-->

 

        <div class="card-group">
            <div class="card">
                <img class="card-img-top" src="../../../assets/img/colaborador.png" alt="Cadastrar Funcionário">
                <div class="card-body">
                  <a routerLink="/cadastrarFuncionario" class="btn btn-secondary">Cadastrar Funcionário</a>
                </div>
              </div>

            <div class="card">
              <img class="card-img-top" src="../../../assets/img/clientes.png" alt="Cadastrar Funcionário">
              <div class="card-body">
                <a routerLink="/cadastrarCliente" class="btn btn-secondary">Cadastrar Cliente</a>
              </div>
            </div>

            <div class="card">
                <img class="card-img-top" src="../../../assets/img/pecas.png" alt="Cadastrar Funcionário">
                <div class="card-body">
                  <a routerLink="/cadastrarProduto" class="btn btn-secondary">Cadastrar Produto</a>
                </div>
              </div>  
              
              <div class="card">
                <img class="card-img-top" src="../../../assets/img/orcamento.png" alt="Cadastrar Funcionário">
                <div class="card-body">
                  <a routerLink="/cadastrarOrcamento" class="btn btn-secondary">Cadastrar Orçamento</a>
                </div>
              </div>     
                            
              
              
          </div>

      </div>
    </div>

    <div class="card-group">
      <div class="card">
          <img class="card-img-top" src="../../../assets/img/agendamento.png" alt="Cadastrar Funcionário">
          <div class="card-body">
            <a routerLink="/cadastrarAgendamento" class="btn btn-secondary">Cadastrar Agendamento</a>
          </div>
        </div>

      <div class="card">
        <img class="card-img-top" src="../../../assets/img/estoque.png" alt="Cadastrar Funcionário">
        <div class="card-body">
          <a routerLink="/cadastrarEstoque" class="btn btn-secondary">Cadastrar Estoque</a>
        </div>
      </div>

      <div class="card">
          <img class="card-img-top" src="../../../assets/img/servicos.png" alt="Cadastrar Funcionário">
          <div class="card-body">
            <a routerLink="/cadastrarServico" class="btn btn-secondary">Cadastrar Serviço</a>
          </div>
        </div>  
        
        <div class="card">
          <img class="card-img-top" src="../../../assets/img/fornecedor.png" alt="Cadastrar Funcionário">
          <div class="card-body">
            <a routerLink="/cadastrarFornecedor" class="btn btn-secondary">Cadastrar Fornecedor</a>
          </div>
        </div>     
                      
        
        
    </div>
  </div>

  
  

  <router-outlet></router-outlet>
  