<footer class=" footer">
  <div class=" container-fluid">
    <ul class=" nav">
      <li class=" nav-item">
        <a class=" nav-link" href="https://www.creative-tim.com?ref=bda-footer">
          Oficina - PAULO COCO
        </a>
      </li>
      <li class=" nav-item">
        <a class=" nav-link" href="https://www.creative-tim.com/about-us?ref=bda-footer">
          Página Inicial
        </a>
      </li>
      <li class=" nav-item">
        <a class=" nav-link" href="http://blog.creative-tim.com?ref=bda-footer"> SUPORTE </a>
      </li>
    </ul>
  </div>
</footer>
