
<div class="content">
    <div class=" row">
      <div class=" col-md-12">
        <div class=" card">
          <div class=" card-header">
            <h5 style="color: black; text-align: center; padding-bottom: 15px;">Àrea de Cadastros </h5>
          </div>
        </div> <!--Aqui fecha a class card-->

        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="../../../assets/img/colaborador.png" alt="Cadastrar Funcionário">
                <div class="card-body">
                  <h5 class="card-title">Listar Funcionários</h5>
                  <p class="card-text">Clique no botão abaixo para listar os Funcionarios.</p>
                  <a routerLink="/listarFuncionarios" class="btn btn-secondary">Listar Funcionários</a>
                </div>
              </div>

            <div class="card">
              <img class="card-img-top" src="../../../assets/img/clientes.png" alt="Cadastrar Funcionário">
              <div class="card-body">
                <h5 class="card-title">Listar Clientes</h5>
                <p class="card-text">Clique no botão abaixo para listar os Clientes.</p>
                <a routerLink="/listarClientes" class="btn btn-secondary">Listar Clientes</a>
              </div>
            </div>

            <div class="card">
                <img class="card-img-top" src="../../../assets/img/pecas.png" alt="Listar Produtos">
                <div class="card-body">
                  <h5 class="card-title">Listar Produtos</h5>
                  <p class="card-text">Clique no botão abaixo para listar os Produtos.</p>
                  <a routerLink="/listarProdutos" class="btn btn-secondary">Listar Produtos</a>
                </div>
              </div>  
              
              <div class="card">
                <img class="card-img-top" src="../../../assets/img/orcamento.png" alt="Listar Orçamentos">
                <div class="card-body">
                  <h5 class="card-title">Listar Orçamentos</h5>
                  <p class="card-text">Clique no botão abaixo para listar os Orçamentos.</p>
                  <a routerLink="/listarOrcamentos" class="btn btn-secondary">Listar Orçamentos</a>
                </div>
              </div>     
          </div>

      </div>
    </div>
  </div>

  <router-outlet></router-outlet>
  