
<div class=" content">
    <div class=" row">
      <div class=" col-md-12">
        <div class=" card">
          <div class=" card-header">
            <h5 style="color: black; text-align: center; padding-bottom: 15px;">Cadastrar Produto</h5>
          </div>
        </div>------------------------------------------------------------+
        .
  
        <!--Form para cadastrar cliente-->
        <div class="card">
          <div class="card-header p-3 mb-2 bg-dark text-white">
  
            <form class="needs-validation" novalidate #formCadastroProduto="ngForm" (ngSubmit)="onSubmit(formCadastroProduto)">
  
              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label for="nomeProduto">Nome: *</label>
                  <input type="text" class="form-control"  id="nomeProduto" name="nomeProduto" 
                  [(ngModel)]="produto.nomeDoProduto" placeholder="Digite o nome do Produto" ngModel required #nomeDoProduto="ngModel">
                  <div class="alert alert-danger" role="alert" *ngIf="!nomeDoProduto.valid && nomeDoProduto.touched">
                   O campo Nome é obrigatório
                  </div>
                </div>
  
                <div class="col-md-4 mb-3">
                  <label for="valorDoProduto">Valor do Produto: *</label>
                  <input type="text" class="form-control" id="valorDoProduto" name="valorDoProduto" 
                  [(ngModel)]="produto.valorDoProduto" placeholder="Digite o valor" ngModel required #valorDoProduto="ngModel">
                  <div class="alert alert-danger" role="alert" *ngIf="!valorDoProduto.valid && valorDoProduto.touched">
                    O campo Valor do Produto é obrigatório
                  </div>
                </div>

  
              </div>
      

              
  
              <div class="col-md-12 fundo" align="center">
              <button type="submit" (click)="cadastrarProduto()" [disabled]="!formCadastroProduto.valid" class="btn btn-secondary btn-lg">Cadastrar</button>
              <button type="submit" class="btn btn-secondary btn-lg" style="margin-left: 10px;">Limpar</button>
            </div>
            </form>
            
        </div>
      </div>
  
      <div class="col-md-12 fundo" align="center">
        <a routerLink="/cadastro" class="btn btn-secondary btn-lg">Voltar</a>
      </div>
  
    </div>
  </div>
  